.main{
   background-image: url("https://res.cloudinary.com/francopress26/image/upload/v1663201462/PI-DOGS/undraw_profile_re_4a55_ypwhte.svg");
    background-repeat: no-repeat;
    background-position: -5%;
}