.footer{
    background-color: rgb(38, 37, 49);;
  
    /* position: absolute; */
    
    width: 100%;
    padding-bottom: 1vh;
}
h4{
    text-align: center;
    color: white;
    font-size: 15px;
}
.skills img{
    width: 40px;
    height: 40px;
    margin-left: 3vh;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    
}